body.light-mode {
  background-color: chocolate;
  color: white;
  transition: background-color 0.3s ease;
}
body.dark-mode {
  background-color: #1a1919;
  color: #999;
}

body {
  background-color: chocolate;
  transition: background-color 0.3s ease;
}

.title {
  text-align: center;
}

.form {
  justify-content: center;
  align-items: center;
  display: flex;
}

.guest-input {
  justify-content: center;
  align-items: center;
  display: flex;
}

.userEntry {
  padding: 50px;
}

.header-welcome {
  position: relative;
}
